body{
    margin-left: 50mm;
    margin-right: 50mm;
    background-color: rgb(86, 190, 231); 
}
.operacion{
    text-align: center;
    background-color: rgb(10, 89, 207);
    border-radius: 1cm;
    font-family: teko;
    font-size: 1cm;

}




    
